@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">
        <div class="card">

            <div class="card-header">
                <h5>Welcome to Excel Educational Institute</h5>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>