
.hide_column {
    display: none;
}

.LableText {
    cursor: pointer;
    color:#0351cc;
}

.form-group .control-label:after {
    content: "*";
    color: red;
}

.form-group .form-label.required:after {
    content: "*";
    color: red;
}

.imageuploadify {
    border: 2px dashed #d2d2d2;
    position: relative;
    /* min-height: 350px;
    min-width: 250px;
    max-width: 1000px;*/
    width: 100%;
    margin: auto;
    display: flex;
    padding: 0;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    color: #3AA0FF
}